:root{
    --primary:#03cfd3;
    --dark:#161616;
    --pure:whitesmoke;
    --ternary:#898989;
    --light:#f2f2f2;
  
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing:antialiased;
    
}
html,body{
    font-family: 'Lexend Mega', sans-serif;
    
    height: 100%;
    width: 100%;
    background-color: var(--dark);
    position: relative;
}

.flex{
    display: flex;
}

.items-center{
    align-items: center;
}

.header_1{
    height:14vh;
}


  
  .curtain {
    height: 589px;
    height:100vh;
    position: relative;
    z-index: 2;
    background: #1d1d1d;
    font-family:sans-serif;
    font-size:10px;
    color:white;
    display:flex;
    
    align-items:center;
      box-shadow: 0 14px 28px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
  }
  
  .main{
    position: fixed;
    bottom:0;
    height: 450px;
    width: 100%;
    background: transparent;
    z-index: -1;
  }
  
  .reveal-main{
    height: 400px;
  
  }
  
 
  
  .active {
    position:relative;
    color: transparent;
    margin-top:-6%;
    margin-top:-118px;
    height:90vh;

  }
  
  .activetwo {
      height:10px;
    position:absolute;
  }
  
  
  
  
  
  



















.header  {
   width: 100%;
    background-color: black;
    margin-top: 0;
    padding: 0;
    height: 12vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
     transition-delay: 0.1s;
    margin-bottom: 100px;
   
    position: relative;
    left: 0%;
    top: 0;
}
.header nav .left a{
    color:var(--pure);
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s ease;
}
.header nav .left a:hover{
    color: var(--primary) ;
    position: relative ;
    font-size: 18px;
}



.header nav .bar{
    
    margin-left: 1rem;
    float: right;
   
}
.header nav .bar a{
    margin-right: 1.5rem;

}

nav .left .logo i{
   
    color: whitesmoke;

   margin-right: 20px;
  
       
    }
 nav .left .logo i {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }
    
  nav .left .logo i:hover {
    animation:reverse_rotation 8s infinite linear;
  } 

  @keyframes reverse_rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-359deg);
    }
  }


  @media screen and (max-width: 900px) {
    .header nav .left{
        color:var(--pure);
        font-size: 10px;
        text-decoration: none;
        text-transform: uppercase;
        transition: all .3s ease;

    }
    .header nav .left .logo i{
        margin-left: 5px;
        margin-right: 5px;
    }
    .header nav .left .bar a{
        font-size: 10px;
        margin-right: 5px;
    }

    .header nav .left a:hover{
        color: var(--primary) ;
        position: relative ;
        font-size: 15px;
    }
}

    


   
    nav .logo i{
   
        color: whitesmoke;
    
       margin-left: 20px;
           
        }



       
      

  





       

        .hidden {
            opacity:0;
          }
          .console-container {
           
          
            font-size:2em;
                        height:200px;
            width:100%;
            display:block;
           
            color:white;
            top:0;
            bottom:0;
            left:0;
            right:0;
            margin-top:95vh;
          }

          .typer
          {
              margin-left: 5vw;
              margin: 30px;
          }
          .console-underscore {
            display:inline-block;
            position:relative;
            top:-0.14em;
            
            
          }



    


          @import url('https://fonts.googleapis.com/css2?family=Castoro:ital@1&display=swap');


 .intro{
     width:100%;
    
     display: grid;
     grid-template-columns: repeat(2,1fr);
 }
 .intro .h2 {
    font-family: 'Arial';
    color: #fff;
   
    
    font-size: 3rem;
    
    margin-left: 20vh;

    
  }
  
  .intro p {
    display: block;
    
  }
  .intro .h2 .name{
      height: 30px;
      width: 100px;
      display: block;
     color: var(--light);
     font-weight: bold;
  }
   .intro .h2 div{
       display: flex;
       justify-content: left;
      
       
   } 
  
 

  
.intro .h2 .description p{
    float: left;
    height: 20vh;
    width: 40vw;
    font-family: 'Castoro', serif;
    font-size: 20px;
    margin-right: 10vw;
    margin-top: 10vh;
    font-weight: 100;
}

.intro .h2 .hireme button{
    display: flex;
 
  
 
    padding: 12px 12px;
  
    cursor: pointer;
    user-select: none;
    transition: all 150ms linear;
    text-align: center;
    
    text-transform: capitalize;
    
    color:var(--dark);
    border: 0 none;
    border-radius: 10px;
  
    font-size: 18px;
    font-weight: 750;
    line-height: 1.3;
  
    margin-top: 50px;
   
    justify-content: center;
    align-items: center;
   
    
    box-shadow: 2px 5px 10px var(--color-smoke);
  
  }
  .intro .h2 .hireme button:hover{
   
    color:var(--light);
    background-color: var(--dark);
       
}

.intro .image div img{
    height: 24vw;
    width:30vw;
}

@media screen and (max-width: 900px) {

   
.intro .image div img{
    display: none;
}
.intro .h2 {
  
    
    font-size: 2rem;
    
    margin-left: 2vh;

    
  }
  .intro .h2 .description p{
      display: none;
  }

}
 
















.myskill{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    background-size: 100% 100%;
    background-attachment: fixed;
}



.skills .skills_heading {
    position: absolute;
 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:3vw;
      letter-spacing:0.1em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;

  }


 

 .myskill .skills{
     width:80vw;
     justify-items: center;
 }
  .myskill .skill_container{
      display: grid;
      grid-template-columns: repeat(3,1fr) ;
  
      width:100%;
      margin-left: auto;
      margin-right: auto;
      
      margin-top: 50px;
      justify-items: center;
     
  }

  .myskill .card{
    width: 17vw;
    height:17vw; 
    margin-top: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
  .myskill .card  .icons{
    
      color:var(--light);
      font-size: 7vw ;
    
  }
  .myskill .card:hover {
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 0.1s;
  }
  
  .myskill .card .icons:hover {
    color: #255784;
    color: #2196f3;
    font-size: 100px;
    opacity: 1;
    transition: ease 0.1s;
}



.myskill .card  p{
    font-size:1.2vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    color: var(--light);


}


@media screen and (max-width: 900px) {
    .myskill .skill_container{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        width: 80vw;   
        column-gap: 0.1vw;  
        justify-items: center;  

    }
    .myskill .card {
        margin-left: auto;
        margin-right: auto;
        
        display: flex;
    
    justify-items: center;
    align-items: center;
       
    }
    .myskill .card  .icons{
        z-index: 2;
        color:var(--light);
        font-size: 10vw ;
        
      
    }
    
  
    .myskill .card .icons:hover {
        color: #255784;
        color: #2196f3;
        font-size: 60px;
        opacity: 1;
        transition: ease 0.1s;
    }
}







.footer-basic {
    padding:40px 0;
    background-color:black;
    color:var(--light);
    
    
    margin-top: 100px;
  }
 
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:25px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid var(--light);
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:0.9;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:var(--light);
    margin-bottom:0;
  }



  @media screen and (max-width: 500px) {
   



  
    
   

}







